body {
  background: #000;
  height: 100vh;
}

#two-cols {
  height: 100%;
}

#coming-soon {
    width: 65%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: right;
    height: 100%;
    background: #fff;
}

#header-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 75%;
}

h1 {
  font-family: 'Poppins', sans-serif;
  color: #000;
}

p {
  font-family: 'Poppins', sans-serif;
  color: #888;
  margin: 0;
}