body {
  background: #000;
  height: 100vh;
}

#two-cols {
  height: 100%;
}

#coming-soon,
.projects-overview,
.projects-page {
  width: 65%;
  display: flex;
  flex-direction: column;
  background: #fff;
}

#coming-soon {
  height: 100%;
  justify-content: center;
  text-align: right;
}
.projects-overview {
  height: 100%;
}

.projects-page {
  padding-bottom: 40px;
}

#header-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 75%;
}

#menu-cover {
  width: 25%;
  display: flex;
}

#hamburger {
  color: #fff;
}

h1 {
  font-family: 'Poppins', sans-serif;
  color: #000;
}
/*
.emphasis {
  color: #820909;
} */

p, li {
  font-family: 'Poppins', sans-serif;
  color: #888;
  margin: 0;
}

img {
  margin: 50px 0;
  width: 100%;
  -webkit-box-shadow: 10px 10px 45px -16px rgba(189,185,189,1);
  -moz-box-shadow: 10px 10px 45px -16px rgba(189,185,189,1);
  box-shadow: 10px 10px 45px -16px rgba(189,185,189,1);
}